:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #f8f9fa;
  line-height: 60px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.min-vh-100 {
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

.gravatar {
  border-radius: 50%;
}

/* Utility classes */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin-bottom: 0;
}

.list-inline-item {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.mt-auto {
  margin-top: auto !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}
